@import "calculator";
@import "var";




body {
    background-color: black;
}
.main {
    height:700px;
    width:620px;
    background-color:skyblue;
    justify-content: flex-center;
    margin: auto;
    padding-top:20px;
    padding-left:20px;
}
.round {
    width:550px;
    height:550px;
    border-radius: 50%;
    background-color: #0B77C3;
    padding-top: 20px;
}
#icon {
    width:30px;
    margin-top:40px;
    margin-left:10px;
}
  